# Configuration endpoints for Central Master Node
PROMETHEUS_URL=http://<YOUR_MASTER_IP>:9090/api/v1/write
LOKI_URL=http://<YOUR_MASTER_IP>:3100/loki/api/v1/push

# Proxmox VE Host configuration
AGENT_NAME=proxmox-ve
HOST_IP=<PROXMOX_IP_ADDRESS>

# pfSense firewall configuration for scraping node metrics & identifying logs
PFSENSE_IP=<PFSENSE_IP_ADDRESS>
